{{#> plantilla}}
    <section>
        <h1>Crear Item</h1>
        <form>
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Precio">
            <input class="btn" type="button" value="Crear">
        </form>
    </section>
{{/plantilla}}