{{#> plantilla}}
    <section>
        <h1>Crear Item</h1>
        <form>
            <input type="text" placeholder="Nombre">
            <input type="number" placeholder="Precio">
            <a class="btn" href="">Crear</a>
        </form>
    </section>
{{/plantilla}}