{{#> plantilla}}
    <section>
        <h1>Eliminar Item</h1>
        <div>
            <label>(Nombre: {{nombre}} - Precio: {{precio}})</label>
            <input class="btn" type="button" value="Eliminar">
        </div>
    </section>
{{/plantilla}}