{{#> plantilla}}
    <section>
        <h1>Eliminar Item</h1>
        <div>
            <label>Nombre</label>
            <input type="text" placeholder="Nombre">
            <input class="btn" type="button" value="Eliminar">
        </div>
    </section>
{{/plantilla}}